server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost"   # Angular front
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
      routes:
        - id: auth-service
          uri: http://authentification-service:8082  # <-- nom du container
          predicates:
            - Path=/auth/**
        
        - id: smartfarm-core
          uri: http://smartfarm-backend:8081   # <-- nom du container
          predicates:
            - Path=/api/**
